{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Pages creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('adminPages') }}">
            Retour
        </a>
    </li>
</ul>
{% endblock %}
